<div class="row my-5">
    <h1>Panel Administrador</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Libros</h5>
                <p class="card-text">Gestiona los Libros</p>
                <a asp-action="ListarLibros" asp-controller="Admin" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Autores</h5>
                <p class="card-text">Gestiona Los Autores</p>
                <a asp-action="ListarAutores" asp-controller="Admin" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Géneros</h5>
                <p class="card-text">Gestiona Los Géneros</p>
                <a asp-action="ListarGeneros" asp-controller="Admin" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
</div>
